<%- include('partials/header'); -%>
<h1>Home</h1> 
<p><%= startingContent %></p>

<% for(let p in posts ) { %>
    <h1><%=p.title %></h1>
    <p>
        <%=posts.content.substring(0,100)%>
        <a href="/posts/<%=p._id%>" >Read More</a>
    </p>
<% } %>
<%- include('partials/footer'); -%>